{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item">
    <a href="{% url 'dcim:device_inventory' pk=object.device.pk %}">{{ object.device }}</a>
  </li>
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">库存项目</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">设备</th>
                            <td>{{ object.device|linkify }}</td>
                        </tr>
                        <tr>
                            <th scope="row">父级项目</th>
                            <td>{{ object.parent|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">名称</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">标签</th>
                            <td>{{ object.label|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">角色</th>
                            <td>{{ object.role|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">组件</th>
                            <td>{{ object.component|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">制造商</th>
                            <td>{{ object.manufacturer|linkify|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">零件 ID</th>
                            <td>{{ object.part_id|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">序列</th>
                            <td>{{ object.serial|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">资产标签</th>
                            <td>{{ object.asset_tag|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">描述</th>
                            <td>{{ object.description|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/tags.html' %}
            {% plugin_left_page object %}
        </div>
        <div class="col col-md-6">
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
