{% if counts %}
  <div class="list-group list-group-flush">
    {% for model, count, url in counts %}
      {% if count != None %}
        <a href="{{ url }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between align-items-center">
            {{ model|meta:"verbose_name_plural"|bettertitle }}左
            <h6 class="mb-1">{{ count }}右</h6>
          </div>
        </a>
      {% else %}
        <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between align-items-center">
          {{ model|meta:"verbose_name_plural"|bettertitle }}
          <h6 class="mb-1" title="No permission"><i class="mdi mdi-lock-outline"></i></h6>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<body>
  
  {% if counts %}
  <div class="list-group list-group-flush">
    {% for model, count, url in counts %}
      {% if count != None %}
      <canvas id="chart"></canvas>
        <a href="{{ url }}" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between align-items-center">
            {{ model|meta:"verbose_name_plural"|bettertitle }}左
            <h6 class="mb-1">{{ count }}右</h6>
          </div>
        </a>
      {% else %}
        <div class="list-group-item list-group-item-action d-flex w-100 justify-content-between align-items-center">
          {{ model|meta:"verbose_name_plural"|bettertitle }}
          <h6 class="mb-1" title="No permission"><i class="mdi mdi-lock-outline"></i></h6>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
</body>
<script>
  var ctx = document.getElementById('chart').getContext('2d');
    
    // 饼状图数据
    var pieData = {
        labels: ['Apples', 'Oranges', 'Bananas'],
        datasets: [{
            data: [30, 40, 25],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)'
            ]
        }]
    };
    
    // 柱状图数据
    var barData = {
        labels: ['Apples', 'Oranges', 'Bananas'],
        datasets: [{
            label: 'Fruit Quantity',
            data: [30, 40, 25],
            backgroundColor: [
                'rgba(255, 99, 132, 0.7)',
                'rgba(54, 162, 235, 0.7)',
                'rgba(255, 206, 86, 0.7)'
            ],
            borderWidth: 1
        }]
    };
    
    // 绘制饼状图
    var pieChart = new Chart(ctx, {
        type: 'pie',
        data: pieData,
        options: {}
    });
    
    // 绘制柱状图
    var barChart = new Chart(ctx, {
        type: 'bar',
        data: barData,
        options: {}
    });
</script>
</html> -->