{% load django_tables2 %}

<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
  {% if table.show_header %}
    <thead>
      <tr>
        {% for column in table.columns %}
          {% if column.orderable %}
            <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">
              {% if column.header == 'Created' %}
              创建时间
              {% elif column.header == 'Created by' %}
              创建人
              {% elif column.header == 'Kind' %}
              种类
              {% elif column.header == 'Comments' %}
              评论
              {% elif column.header == 'Name' %}
              名称	
              {% elif column.header == 'Site' %}
              站点
              {% elif column.header == 'Tenant' %}
              租户
              {% elif column.header == 'Status' %}
              状态
              {% elif column.header == 'Role' %}
              角色
              {% elif column.header == 'Description' %}
              描述
              {% else %}
              {{ column.header }}
              {% endif %}
            </a></th>
          {% else %}
            <th {{ column.attrs.th.as_html }}>
              {% if column.header == 'Prefixes' %}
              前缀
              {% else %}
              {{ column.header }}
              {% endif %}
            </th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
  {% endif %}
  <tbody>
    {% for row in table.page.object_list|default:table.rows %}
      <tr {{ row.attrs.as_html }}>
        {% for column, cell in row.items %}
          <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
        {% endfor %}
      </tr>
    {% empty %}
      {% if table.empty_text %}
        <tr>
          <td colspan="{{ table.columns|length }}" class="text-center text-muted">&mdash; 暂无数据 &mdash;</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
  {% if table.has_footer %}
    <tfoot>
      <tr>
        {% for column in table.columns %}
          <td>{{ column.footer }}</td>
        {% endfor %}
      </tr>
    </tfoot>
  {% endif %}
</table>
